supported-architectures-os[]=linux
supported-architectures-os[]=darwin
supported-architectures-os[]=win32
supported-architectures-cpu[]=x64
supported-architectures-cpu[]=arm64
supported-architectures-libc[]=musl
supported-architectures-libc[]=glibc
